# Terraform state files
*.tfstate
*.tfstate.*

# Terraform crash log files
crash.log

# Exclude backup files created by Terraform
*.tfvars
*.tfvars.json

# Terraform lock files
*.lock.hcl

# Terraform hidden folders
.terraform/
# Exclude specific large files in .terraform
.terraform/*.*
# Exclude specific large files in .terraform
.terraform/providers/registry.terraform.io/hashicorp/aws/*/linux_amd64/terraform-provider-aws_*